nav {
  a.brand-logo {
    font-family: $montserrat;
    font-weight: 700;
  }

  a.button-collapse i {
    margin-left: 0.5em;
  }

  ul {
    a {
      font-family: $open-sans;
      font-weight: 600;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }

  ul.side-nav {
    a {
      font-weight: 600;
    }
  }
}

@media #{$large-and-up} {
  .nav-wrapper {
    padding-left: 2em;
    padding-right: 2em;
  }
}
