@import 'materialize/materialize';

/* Global Variables */
$roboto: "Roboto", sans-serif;
$open-sans: "Open Sans", sans-serif;
$montserrat: "Montserrat", sans-serif;
$purple-rain: #694489;

/* Global Styles */
html {
  font-family: $montserrat;
}

p {
  font-family: $open-sans;
  font-size: 1.2em;
}

section {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

h6 {
  font-size: 1.2em;
}

.label {
  font-family: $montserrat;
  font-weight: 700;
}

.subtitle {
  width: 80%;
  margin: auto;
}

.header {
  margin-bottom: 24px;
}

/* Import Custom Styles */
@import 'nav';
@import 'home';
@import 'ocf';
@import 'about';
@import 'team';
@import 'mentors';
@import 'partners';
@import 'calendar';
