<tr>
  <td>
    <img src="img/people/lindsayyang.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
  </td>
  <td class="bio">
    <p class="label"  >Lindsay Yang</p>
    <p>
    Senior Mentor. Tue 9:00 AM. Tue 10:00 AM. lindsay.yang@berkeley.edu. Hey! I'm a second year computer science / cognitive science double major born and raised in the Bay Area. I'm a huge fan of 61A, and this is my second semester with CSM, first as an SM. You can usually catch me around in a library, sometimes working and always listening to Fall Out Boy. Come find me to hear about my love for 61A and the occasional tangent on memes!
    </p>
  </td>
</tr>
