<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l2 m3 s12">
        <h5 class="white-text">Contact</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="MAILTO:csmberkeley@gmail.com">Contact us</a></li>
        </ul>
      </div>
      <div class="col l2 m3 s12">
        <h5 class="white-text">Join</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#/students">Students</a></li>
          <li><a class="grey-text text-lighten-3" href="#/mentors">Mentors</a></li>
          <li><a class="grey-text text-lighten-3" href="#/partners">Partners</a></li>
        </ul>
      </div>
      <div class="col l2 m3 s12">
        <h5 class="white-text">Team</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#/team">Current Team</a></li>
        </ul>
      </div>
      <div class="col l3 m3 s12">
        <h5 class="white-text">Worksheets</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://drive.google.com/drive/u/0/folders/0B_cSwa5INrcIfmdMeHNhZlg5c0tBbnJMZFhqRzNtTGZjUjZvTG9zUk1lWTNLdjJSLWFxLTQ" target="_blank">Worksheets</a></li>
        </ul>
      </div>
      <div class="col l3 m3 s12">
        <h5 class="white-text">Misc.</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="http://csmscheduler.herokuapp.com/">Scheduler</a></li>
          <li><a class="grey-text text-lighten-3" href="https://csmberkeley.github.io/sage/">Sage (teaching tips)</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made with &hearts; at UC Berkeley.
      <div class="grey-text text-lighten-4 right hide-on-small-and-down" href="http://www.peterlee.tech/" target="_blank">
        Website Creds:
        <a class="grey-text text-lighten-4" href="http://www.peterlee.tech/">Petr</a>,
        <a class="grey-text text-lighten-4" href="http://kstukalova.github.io/">Katya</a>
        <a class="grey-text text-lighten-4" href="http://colbyguan.me/">Colby</a>, and
        <a class="grey-text text-lighten-4" href="#">James</a>        
      </div>
      <div class="ocf">
        <p class="pledge">We are a student group acting independently of the University of California. We take full responsibility for our organization and this web site.</p>
        <a href="https://www.ocf.berkeley.edu">
          <img src="https://www.ocf.berkeley.edu/hosting-logos/ocfbadge_mini8.png" alt="Hosted by the OCF" style="border: 0;"/>
        </a>
      </div>
    </div>
  </div>
</footer>
