<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#/" class="brand-logo">CSM</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#/about">About</a></li>
        <li><a href="#/join">Join</a></li>
        <li><a href="#/team">Team</a></li>
        <li><a href="https://drive.google.com/drive/u/0/folders/0B_cSwa5INrcIfmdMeHNhZlg5c0tBbnJMZFhqRzNtTGZjUjZvTG9zUk1lWTNLdjJSLWFxLTQ" target="_blank">Resources</a></li>
        <li><a href="http://csmscheduler.herokuapp.com/">Tutoring</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#/about">About</a></li>
        <li><a href="#/join">Join</a></li>
        <li><a href="#/team">Team</a></li>
        <li><a href="https://drive.google.com/drive/u/0/folders/0B_cSwa5INrcIfmdMeHNhZlg5c0tBbnJMZFhqRzNtTGZjUjZvTG9zUk1lWTNLdjJSLWFxLTQ" target="_blank">Resources</a></li>
        <li><a href="http://csmscheduler.herokuapp.com/">Tutoring</a></li>
      </ul>
    </div>
  </nav>
</div>
