<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#/" class="brand-logo">CSM</a>
      <a href="javascript: void(0)" data-activates="mobile-demo" class="button-collapse black-text"><i class="fa fa-bars"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#/students">Students</a></li>
        <li><a href="#/mentors">Mentors</a></li>
        <li><a href="#/partners">Partners</a></li>
        <li><a href="#/team">Team</a></li>
        <li><a href="https://drive.google.com/drive/u/0/folders/0B_cSwa5INrcIfmdMeHNhZlg5c0tBbnJMZFhqRzNtTGZjUjZvTG9zUk1lWTNLdjJSLWFxLTQ" target="_blank">Materials</a></li>
        <li><a href="http://csmscheduler.herokuapp.com/">Portal</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#/students">Students</a></li>
        <li><a href="#/mentors">Mentors</a></li>
        <li><a href="#/partners">Partners</a></li>
        <li><a href="#/team">Team</a></li>
        <li><a href="https://drive.google.com/drive/u/0/folders/0B_cSwa5INrcIfmdMeHNhZlg5c0tBbnJMZFhqRzNtTGZjUjZvTG9zUk1lWTNLdjJSLWFxLTQ" target="_blank">Material</a></li>
        <li><a href="http://csmscheduler.herokuapp.com/">Portal</a></li>
      </ul>
    </div>
  </nav>
</div>

<script>
  $('.modal-trigger').leanModal();
  $('.button-collapse').sideNav();
  $('.side-nav a').click(function() {
    $('.button-collapse').sideNav('hide');
  });
</script>
