<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
td {
  vertical-align:top;

}
.bio {
  padding-left: 40px;
}
.image {
  width:200px;
  height:200px;
}
.image2 {
  width:250px;
  height:167px;
}
.image3 {
  width:200px;
  height:243px;
}
.bio2 {
  padding-left: 40px;
}

</style>
</head>

<div class="container">
  <div class="section">
    <div class="col l8 offset-l2 s10 offset-s1">
        <h5 class="label">CSM 61B Bios</h5>
        <p class="info">Bios for CSM 61B Mentors.</p>
    </div>
  <div>
    <table>
      <tbody>
        <tr>
          <td colspan="2">
            <div class="divider"></div>
            <h5 class="label"> Family Heads - Dee and Jose</h5>
            <div class="divider"></div>
          </td>
        </tr>
        <tr>
          <td>
            <img src="img/people/deeguo.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Dee Guo</p>
          </td>
          <td class="bio">Senior Mentor. 09:00 AM Wed, Feb 7. 11:00 AM Fri, Feb 9. deeguo@berkeley.edu. Hello! I am a second year CS major from Cupertino, CA. I like linguistics and classical music and penguins. I like to draw sheep. I love teaching!</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/josechavez.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Jose Chavez</p>
          </td>
          <td class="bio">Senior Mentor. 09:00 AM Thu, Feb 8. jrocker3@berkeley.edu. Junior studying both Film and Computer Science. When I am not working on CS, I am usually shooting a new short film. I love rock climbing, martial arts, scuba diving, and football (Go Bears!). If you ever get the chance, come say to hi to me at a Cal Band performance (hint: I play the big drum in the front).</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/anwarbaroudi.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Anwar Baroudi</p>
          </td>
          <td class="bio">Junior Mentor. 01:00 PM Thu, Feb 8. mabaroudi@berkeley.edu. Hi! I am Anwar, a Senior in Computer Science. I am an avid member of CSM, a member of CS188 course staff, a part of FEMTech, and generally spend as much time teaching as I can. Beyond teaching, and the occasional studenting, I love a good nap to some relaxing tunes, and making a fool of myself in the kitchen every now and then.</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/vibhaseshadri.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Vibha Seshadri</p>
          </td>
          <td class="bio">Junior Mentor. 08:00 AM Wed, Feb 7. 09:00 AM Fri, Feb 9. vibhaseshadri@berkeley.edu. Hey everyone! I am a second year studying Computer Science from the Bay Area. In my spare time I love to read, hike, watch movies, drink coffee, and eat! CS61B is my favorite class at Cal, and I'm really looking forward to working with you! If you ever have any questions, or just want to grab some food (I'm always hungry) just send me a message or come find me! :)</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/jessicayeh.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Jessica Yeh</p>
          </td>
          <td class="bio">Junior Mentor. 11:00 AM Thu, Feb 8. jessicayeh@berkeley.edu. Hi there! I'm Jessica, and I'm a sophomore EECS major from the Bay Area. I absolutely love cats and I'm passionate about mozzarella sticks and boba. I'm also a High School Outreach officer for Society of Women Engineers. In my free time, I like to listen to all kinds of music, take photos, attempt to keep my succulents alive, and bake pastries. </td>
        </tr>
        <tr>
          <td>
            <img src="img/people/danielzhang.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Daniel Zhang</p>
          </td>
          <td class="bio">Junior Mentor. 12:00 PM Wed, Feb 7. daniel_zhang@berkeley.edu. Hello! Everyone else probably has more interesting bios, so feel free to skim through mine. Location-wise, I'm originally from Culver City, but spent most of my life growing up in Sunnyvale, CA. People describe me as (note to self: insert some generic positive sounding words here), but I'd describe myself as (note to self: insert some other generic positive sounding words here)! Most of my free time is spent traveling (or daydreaming about traveling; I love hiking and the outdoors), and I'm an avid history, geography, and literature nut! East of Eden is my favorite novel, and I'm a huge fan of subliminal messaging: there is absolutely not a hidden message being spelled out with the first letter of each sentence.</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/kevindeguzman.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Kevin Deguzman</p>
          </td>
          <td class="bio">Junior Mentor. 05:00 PM Thu, Feb 8. deguzmankevin@berkeley.edu. Hello!! :) I'm Kevin, a Filipino dude who tells himself he's part Mexican. I'm from Imperial Beach, a small beach town in south San Diego 10 minutes from the border! A few of my favorite things are making playlists, cooking, Spanish, Game of Thrones, and of course, Goku. One thing I'm passionate about is using CS to make the world a better place (#hacktivist). I'm really looking forward to being friends with all of you, it's gonna be a ton of fun with lots of learning and eating! Feel free to talk to me about anything and everything, especially tacos :)

        *NOTE: If you consider yourself to come from a low-income or under-resourced background (like me), PLEASE join my section! I would love to work with you and support you :)</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/oscarortega.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Oscar Ortega</p>
          </td>
          <td class="bio">Junior Mentor. 10:00 AM Thu. oscar.g.ortega.5@berkeley.edu. Hi everyone! I'm Oscar and I'm a second year CS student from South Lake Tahoe, CA. When I'm not doing school related things, I like to enjoy myself by playing board games and by playing basketball although as of late I have taken a fondness for running. CS 61B has been my favorite class so far here and (although it might not exactly be a breeze), I hope and anticipate you all will enjoy it :).</td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="divider"></div>
            <h5 class="label"> Family Heads - Ellin and Joy</h5>
            <div class="divider"></div>
          </td>
        </tr>
        <tr>
          <td>
            <img src="img/people/ellinzhao.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Ellin Zhao</p>
          </td>
          <td class="bio">Senior Mentor. 09:00 AM Wed, Feb 7. ellinzhao@berkeley.edu. Hi there! I am a second year (accidental) EECS major from Canada and San Diego. I am also a research assistant at the BAIR Lab and have a penchant for building small web apps. I love typography, shoegaze, Twin Peaks (the series not the band) and Wes Anderson films but most importantly, data structures!</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/joytang.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Joy Tang</p>
          </td>
          <td class="bio">Senior Mentor. 10:00 AM Thu, Feb 8. 03:00 PM Thu, Feb 8. j-tang@berkeley.edu. Hi my name is Joy, and I'm a 3rd year computer science major. This is my 3rd semester mentoring for 61B, and I can't wait to meet you! I'm obsessed with dance, cybersecurity, standup, and food, so come talk to me if you think I'm interesting or cool :) or just come talk to me :) I promise I'm fun</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/willwang.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Will Wang</p>
          </td>
          <td class="bio">Junior Mentor. 02:00 PM Fri. hwang97@berkeley.edu. Bio⁉️ The only bio I know is BIOS (Basic Input/Output System) 😈 Sophomore in EECS ➡️ No breaks 😤 distributed systems research @ NetSys Labs by day 💯 git push @ Berkeleytime by night 💪 git fit @ gym in my sleep 🔥 SoCal to just Cal 💻 Code all day everyday even Sundays 🙏 Soda 24:7</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/neillugovoy.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Neil Lugovoy</p>
          </td>
          <td class="bio">Junior Mentor. 04:00 PM Thu. nflugovoy@berkeley.edu. Hi! I'm a sophomore from the Bay Area. On Fridays you can catch me on the Glade throwing a frisbee and playing Spikeball. I like to talk about music, movies, or whatever so come by and say hi back.</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/seanfarhat.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Sean Farhat</p>
          </td>
          <td class="bio">Junior Mentor. 11:00 AM Fri. s.farhat-sabet@berkeley.edu. Hello! My name is Sean. I am a sophomore (though my laziness to shave gives people other ideas) studying EECS, and 61B made me fall in love with CS, so I wanted to spread the love to everyone else who takes the course! I do other stuff on campus, blah blah blah, but when I'm not working, I enjoy watching Netflix documentaries, reading a good book, attempting to cook, browsing Reddit, and playing both video/board games. My current goal in life is to increase my spiciness tolerance by getting max spicy levels whenever I can. So yeah, join my section if you want a good time.</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/laurenhong.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Lauren Hong</p>
          </td>
          <td class="bio">Junior Mentor. 10:00 AM Fri. 03:00 PM Fri. lauren.hong@berkeley.edu. Hello! I'm Lauren, a second-year Computer Science Major from Huntington Beach, California. When I'm not studying CS, I enjoy introspecting, going for a long run, binge-watching Korean dramas, jamming out on Spotify, and eating a shameful amount of good food. Looking forward to a great semester together! :]
        </td>
        </tr>
        <tr>
          <td>
            <img src="img/people/sajelshah.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Sajel Shah</p>
          </td>
          <td class="bio">Junior Mentor. 05:00 PM Wed. sajelshah@berkeley.edu. Hi there! I'm a second year CS major from the Bay Area. I enjoy long walks to the fridge and watching re-runs of The Office. I'm an introspective book nerd who likes to pretend to know all the lyrics to every song. I look forward to getting to know you all in my section this semester! (:</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/chrissreesangkom.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Chris Sreesangkom</p>
          </td>
          <td class="bio">Junior Mentor. 12:00 PM Thu. csreesan@berkeley.edu. Hi, I grew up in Bangkok, Thailand but spent a few of my early teens in a town just under Melbourne, Australia. I was initially a physics major for three years before deciding that I love CS and switched. I love to watch and play tennis, basketball and soccer. I also love snowboarding, and trying to pick up photography. 61B is my favorite CS course so far, and I hope you like it as much as I do.</td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="divider"></div>
            <h5 class="label"> Family Heads - Yiling and Ashley</h5>
            <div class="divider"></div>
          </td>
        </tr>
        <tr>
          <td>
            <img src="img/people/yilingkao.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Yiling Kao</p>
          </td>
          <td class="bio">Senior Mentor. 01:00 PM Thu, Feb 8. ylkao@berkeley.edu. Hi, I'm Yiling (pronounced Ee-ling), a second year CS major, and I'm from Irvine, CA. CS 61B with Hug has been my favorite class at Cal so far, and this will be my second semester teaching it with CSM! I love dogs, fruits, beaches, and Disneyland, so I'm sure we have something in common. Looking forward to meeting you all!</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/ashleychien.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Ashley Chien</p>
          </td>
          <td class="bio">Senior Mentor. 04:00 PM Wed, Feb 7. ashleychien@berkeley.edu. Hi, I'm Ashley! I'm a 2nd year CS major from Cupertino, CA. I love teaching! I've taught 61A for two semesters, and I am currently a 61B TA this semester. I love cats and reading (particularly Quora and Reddit). As for CS, I am particularly interested in data science and machine learning. I love meeting new people, so feel free to say hi! :)</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/anniehuang.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Annie Huang</p>
          </td>
          <td class="bio">Junior Mentor. 01:00 PM Fri. anniexhuang@berkeley.edu. Hi there! I'm a second-year CS major from the Bay Area. I specialize in gasping loudly whenever I see a dog. Other things I enjoy include breakfast foods, dancing, cooking, and teaching! </td>
        </tr>
        <tr>
          <td>
            <img src="img/people/tinazhao.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Tina Zhao</p>
          </td>
          <td class="bio">Junior Mentor. 04:00 PM Fri. tinazhao@berkeley.edu. Hi there! I’m a sophomore studying CS. My interests also lie in food science and marketing, which is why I love being the publicity chair of Food Science and Tech at Cal. In my free time, I attempt to improve my graphic design skillz or take 3-hour naps. CS 61B is a worthwhile class if you put in the effort, so work hard and have fun! I look forward to meeting all of ya'll!</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/yuxinji.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Yuxin Ji</p>
          </td>
          <td class="bio">Junior Mentor. 11:00 AM Fri. jiyuxin@berkeley.edu. Hey there! My name is Yuxin and I'm a second year CS major. Some of the things I really enjoy are reading, listening to Podcast, doing karaoke, and watching cute animal videos. I'm also super interested in language in general (Linguistics = "doing math with language"). Looking forward to a great semester with all of you!</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/darrenhuang.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Darren Huang</p>
          </td>
          <td class="bio">Junior Mentor. 02:00 PM Wed. darren.y.huang@berkeley.edu. Wassssuup! I'm Darren, a second year majoring in computer science (big surprise) and maybe math. In my free time I like to play video games (botw 10/10 masterpiece), browse reddit, browse youtube, and sleep. When I don't have free time I do the same things, just with more guilt. I also enjoy cooking, but that's mainly because I get to eat right after~</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/shriyavohra.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Shriya Vohra</p>
          </td>
          <td class="bio">Junior Mentor. 12:00 PM Wed. shriya.vohra@berkeley.edu. Hi there! I’m Shriya, a second-year EECS major from North Carolina. I love listening to Bollywood music, going to the beach, and eating ice cream. When I’m not convincing the world that CS rules, you will find me watching Tasty videos or chatting about pretty much anything! I'm super passionate about CS, and I can't wait to share that with all of you :)</td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="divider"></div>
            <h5 class="label"> Family Heads - Matthew and Michael</h5>
            <div class="divider"></div>
          </td>
        </tr>
        <tr>
          <td>
            <img src="img/people/matthewsoh.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Matthew Soh</p>
          </td>
          <td class="bio">Senior Mentor. 01:00 PM Thu. matthewsoh@berkeley.edu. Hi! I'm a second-year EECS major from sunny Singapore. I've been a tutor for CS61A and CS61B, and I'm currently a reader for CS170. I love data structures and algorithms, especially graph algorithms (that you'll learn this semester!). I'm a big fan of musical theater (I know most of Hamilton by heart.) I spend my Sundays at church. I drink a lot of coffee that I brew with my espresso machine. On campus, I've also been in CodeBase and ML@B. I recently joined the Robotics & AI Lab @ BAIR as an undergraduate researcher.</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/michaellum.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Michael Lum</p>
          </td>
          <td class="bio">Senior Mentor. 01:00 PM Thu, Feb 8. michaellum@berkeley.edu. Hehe.  I'm a second-year CS major and Music minor from the Bay Area.  I enjoy spontaneous jam sessions, broccoli (yez it tru), and Planet Earth II.  61B is my absolute favorite class that I've taken at Berkeley, so I look forward to sharing my passion with y'all ;)</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/angelahou.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Angela Hou</p>
          </td>
          <td class="bio">Junior Mentor. 02:00 PM Fri. angela.hou@berkeley.edu. Hey! I'm Angela, a chemical engineering major / ex-CS minor. I'm slightly (read: very) addicted to boba, and I really really like aesthetic walls (watch out for those #wallwednesdays on my IG though :') ) I'm always down for adventures!!</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/kylesu.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Kyle Su</p>
          </td>
          <td class="bio">Junior Mentor. 03:00 PM Wed. 05:00 PM Fri. kylesu98@berkeley.edu. Hi Everyone! I'm a second year computer science major from the Bay Area. I enjoy hiking, board/video games, Rick and Morty, and following (e)sports, but I'm also always down to talk about pretty much anything. CS61B is definitely my favorite class, so I hope you enjoy it as much as me! I look forward to meeting everyone :)</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/shariewang.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Sharie Wang</p>
          </td>
          <td class="bio">Junior Mentor. 07:00 PM Wed. sharie@berkeley.edu. Hi there! I'm a sophomore CS major from sunny Southern California. In my free time, you can find me on YouTube or listening to a lot of edm/pop/indie/alternative music. I also eat way too much sugar and way too much food, but ¯\_(ツ)_/¯ </td>
        </tr>
        <tr>
          <td>
            <img src="img/people/harikakalidhindi.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Harika Kalidhindi</p>
          </td>
          <td class="bio">Junior Mentor. 02:00 PM Thu. jrharika@berkeley.edu. Hi everyone! I am a second year CS student with an interest in algorithms. I enjoy taking care of my plants, reading about random topics, and attempting to cook! Hit me up for some food and advice on surviving 61b!</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/rishiveerapaneni.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Rishi Veerapaneni</p>
          </td>
          <td class="bio">Junior Mentor. 08:00 AM Fri. rishiv@berkeley.edu. Good morning! My name is Rishi Veerapaneni and I am a sophomore EECS student. Apart from the usual EECS life like solving EE problems or debugging CS code, I enjoy playing table tennis, going on walks, coming up with puns, and showering. </td>
        </tr>
        <tr>
          <td>
            <img src="img/people/dannychu.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Danny Chu</p>
          </td>
          <td class="bio">Junior Mentor. 02:00 PM Thu. dannychu@berkeley.edu. Hi, y'all! My names Danny. I enrolled in CSM when I took my lower divisions and I loved it, so I wanted to give back to this awesome organization!</td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="divider"></div>
            <h5 class="label"> Family Heads - Yichen and Albert</h5>
            <div class="divider"></div>
          </td>
        </tr>
        <tr>
          <td>
            <img src="img/people/yichensun.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Yichen Sun</p>
          </td>
          <td class="bio">Senior Mentor. 09:00 AM Fri, Feb 9. yichensun@berkeley.edu. This is my second semester mentoring CS61B! I'm currently also a TA for CS61A. My favorite food is sushi/sashimi and while I don't have a favorite sushi place in Berkeley I've been really enjoying Poke Parlor. I spend my life savings on food, boba, and makeup tbh :( Music artists I've been really enjoying lately are Hayley Kiyoko and Sufjan Stevens!</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/alberthu.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Albert Hu</p>
          </td>
          <td class="bio">Senior Mentor. 04:00 PM Wed, Feb 7. al.hu@berkeley.edu. Hello! I'm a third year CS major and 61B was my favorite class (actually I decided that I wanted to pursue CS after taking it). I enjoy cooking, playing Hearthstone and League of Legends, and of course, browsing memes.</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/arjunsrinivasan.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Arjun Srinivasan</p>
          </td>
          <td class="bio">Junior Mentor. 11:00 AM Fri. arjunsrinivasan@berkeley.edu. I am a second year CS major who came to Berkeley from Tampa, Florida. I am an avid video gamer (PS4 master race 😉) currently binging on Destiny, Overwatch and Titanfall 2 (if you haven't heard of this game, best shooter I've player in a while, 10/10 would recommend). Otherwise, I love watching Football, Basketball, Soccer and Hockey, or playing any of these sports with friends. Talk to me about video games, sports or just about life and general and if you have any questions about declaring CS, or the dreaded CS 70 course just let me know!</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/margooka.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Margo Oka</p>
          </td>
          <td class="bio">Junior Mentor. 09:00 AM Thu. oka@berkeley.edu. Hello! I like math so that would explain why I am a math major. However, I do enjoy my escapades in computer science. I like knitting and cats though I prefer to keep those interests separate.</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/sarahyoung.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Sarah Young</p>
          </td>
          <td class="bio">Junior Mentor. 04:00 PM Fri. sarahisyoung98@berkeley.edu. Hello! I'm a 2nd year CS major from from the Bay Area. When I have free time, I enjoy playing tennis, playing piano, playing cello, playing games (my fav is Catan) and (playing) swimming. If you couldn't already tell I really like playing :). Oh and of course CS61B too!</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/yizhao.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Yi Zhao</p>
          </td>
          <td class="bio">Junior Mentor. 10:00 AM Thu. yi@berkeley.edu. Hello! I'm a 2nd year EECS major from New York! When I'm not struggling with course work, you can find me playing (losing at) board games, cooking barely edible food or napping. I'm very excited to start teaching--61B is an awesome class! Let's make this semester a success!</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/maxyao.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Max Yao</p>
          </td>
          <td class="bio">Junior Mentor. 06:00 PM Fri. bojinyao@berkeley.edu. Hi guys, I'm Max. I'm a second year CS major from the Bay Area. I like binge watching shows on Netflix, HBO, Hulu, and Amazon prime. When I'm not watching shows, I like eating out, and if your favorite food is also sushi and steak, I'm totally down to grab some! Oh disclaimer, my favorite fast food is McDonalds'...</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/kartikkapur.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Kartik Kapur</p>
          </td>
          <td class="bio">Junior Mentor. 09:00 AM Wed. kapurkartik@berkeley.edu. I wrote a textbook for 61B check it out on my website.

        As a youngin I used to think I could talk to birds. One time one cawed back and I ran after it for 5 blocks cawing very loudly. Since then I have become wiser and now realize I am not a bird whisperer but rather a human whisperer.

        I also like swimming, eating various foods, going to hackathons, and writing on Quora. Contact me if you want to learn fun things about 61B or any of the other topics listed above.</td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="divider"></div>
            <h5 class="label"> Family Heads - Carrie and Alan</h5>
            <div class="divider"></div>
          </td>
        </tr>
        <tr>
          <td>
            <img src="img/people/carrielin.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Carrie Lin</p>
          </td>
          <td class="bio">Senior Mentor. 12:00 PM Wed, Feb 7. cjlin@berkeley.edu. Hi everyone! My name is Carrie, and I’m a third year CS major minoring in education. I was born in Houston, Texas, but I lived in Shanghai, China for nine years. In my free time, I love baking, watching movies, and exploring all the wonderful restaurants the Bay Area has to offer. This is my fourth semester teaching 61B for CSM, and I’m really looking forward to it!</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/alanton.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Alan Ton</p>
          </td>
          <td class="bio">Senior Mentor. 03:00 PM Fri, Feb 9. alanton@berkeley.edu. I'm a 2nd year EECS major from LA. I like listening to music, eating food, and getting boba. I'm pretty sure everybody does though, so if you want to do any of those with me, let me know!</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/joedeatrick.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Joseph Deatrick</p>
          </td>
          <td class="bio">Junior Mentor. 12:00 PM Fri. 07:00 PM Fri. einzelganger@berkeley.edu. Hey everyone! I'm a third year CS major, German minor originally from Winter Park, Florida. I mainly do theory & security stuffs alongside teaching! I also like to write critiques of old video games no one plays anymore (the original Devil May Cry is terrible, don't @ me). In my free time I enjoy developing games, listening to k-hip hop, and drinking unhealthy amounts of black coffee. You can catch me in one of the Korean restaurants on Southside or doing work in Soda</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/rileywoo.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Riley Frederick Woo</p>
          </td>
          <td class="bio">Junior Mentor. 03:00 PM Thu. 05:00 PM Thu. rileywoo@berkeley.edu. Hey guys, Riley here! I'm a 3rd year studying computer science and minoring in Spanish. As the minor suggests, I like languages; I'm also in my 2nd semester of Korean right now. Apart from that, I play for Cal's B-team for Ultimate Frisbee (ThugMo), I do research at the Cognition and Action laboratory, post memes frequently on UCBMFET, enjoy running, and solve Rubik's Cubes competitively. I really enjoyed 61B and hope you do too!</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/timothyliu.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Timothy Liu</p>
          </td>
          <td class="bio">Junior Mentor. 10:00 AM Wed. tliu12@berkeley.edu. Hi! I'm a second year CS major from Irvine, CA. In my free time, I enjoy swimming, hiking, and playing basketball (Go Lakers! Boo Warriors).

        I'm looking forward to working with all of you! </td>
        </tr>
        <tr>
          <td>
            <img src="img/people/youngguo.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Young Guo</p>
          </td>
          <td class="bio">Junior Mentor. 11:00 AM Thu. young.guo@berkeley.edu. Hey there! I'm a third-year CS major from the south bay. Outside of class, I'm a huge fan of playing board games (Avalon is great) and Badminton! If you want to talk about your favorite board games or anything at all, I'd love to chat! You can also find me at the RSF for Badminton open gyms on Tuesdays and Thursdays!</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/juliannawhite.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Julianna Staheli White</p>
          </td>
          <td class="bio">Junior Mentor. 10:00 AM Thu. juliannawhite@berkeley.edu. Hi! My name is Julianna and I'm a junior here at Berkeley. I grew up in Los Angeles, where I first started to like teaching as I helped my younger brother and sister with their homework. Since coming to Cal, I've taught a Financial Literacy class to high schoolers in Oakland and I've mentored at nearby elementary schools. This is my first time being a part of CSM, but I'm so excited to teach! 61B has been my favorite class thus far and I hope I can help you like it as much as I did. When I'm not helping you learn data structures or studying for my own classes, I'll be trying new foods (I'm a total foodie so hit me up for restaurant recommendations), exploring SF, going on hikes, and hanging out with friends.</td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="divider"></div>
            <h5 class="label"> Associate Mentors </h5>
            <div class="divider"></div>
          </td>
        </tr>
        <tr>
          <td>
            <img src="img/people/muditgupta.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Mudit Gupta</p>
          </td>
          <td class="bio">Associate Mentor. 04:00 PM Fri. mudit@berkeley.edu. Hello! I'm a 3rd year EECS undergrad and I'm interested in algorithms application-y / software engineering-y things. I intend to take pretty much all the undergraduate courses in these areas, and some grad courses too. I have a particular kind of notebook I like and I bring a suitcase filled with them from Dubai every year or so... heh.</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/ashleychen.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Ashley Chen</p>
          </td>
          <td class="bio">Associate Mentor. 05:00 PM Wed. ashley.chen@berkeley.edu. Hi!  I've been doing CSM for forever and I love teaching, especially 61B :) My top food cravings are Korean tofu soup and Thai curry.  TV shows I am currently watching are The Office, Jane the Virgin, and Black Mirror.  I play volleyball (this is my 7th semester in PE volleyball) and dance with The Movement.  I'd love to talk with you about CS, music, linguistics, cute animals, or how ridiculous it is that being a Youtuber is a career now and I'm contributing to its success.</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/jeremydong.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Jeremy Dong</p>
          </td>
          <td class="bio">Associate Mentor. 01:00 PM Fri. jeremyd@berkeley.edu. Hi everyone!  I'm a 2nd year CS major and this is my second time mentoring for 61B! I love listening to Frank Ocean and chilling in my free time. When I'm not doing any of those things or studying, I'm probably sleeping. Besides CSM, I'm also involved in UPE and as a TA for 61B.</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/nishitashetty.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Nishita Ashok Shetty</p>
          </td>
          <td class="bio">Associate Mentor. 11:00 AM Wed. 05:00 PM Thu. nishetty@berkeley.edu. Hi! I'm a third year Computer Science & Integrative Human Biology major from the Bay Area. While I'm not doing CS, I like dancing, eating avocados, and contemplating the universe. CS 61B has been my favorite class at Cal so far, and I hope it's yours too!</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/williamzhuk.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">William Zhuk</p>
          </td>
          <td class="bio">Associate Mentor. 05:00 PM Wed. williamzhuk@berkeley.edu. Junior, CS & Mathematics Double Major.
        Tutoring since high school, this is my fourth semester with CSM mentoring students.
        If possible, I'd spend all my breaks skiing, sailing, or diving. Normally I play board games and have friends come over.
        </td>
        </tr>
        <tr>
          <td>
            <img src="img/people/alisontanubrata.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Alison Tanubrata</p>
          </td>
          <td class="bio">Associate Mentor. 04:00 PM Thu. 07:00 PM Thu. alisontanu@berkeley.edu. Hello! I'm a 3rd year CS major from San Diego. CS61B was my favorite CS class and I hope it becomes yours too! In my spare time I like listening to kpop and dancing :)</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/ansontsai.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Anson Tsai</p>
          </td>
          <td class="bio">Associate Mentor. 11:00 AM Thu. 12:00 PM Thu. yuancheng.tsai@berkeley.edu. Hi! I’m a second year EECS major, and I am excited to teach for my third time in CSM! 61B is one of my favorite classes, and I hope to make it yours as well. I like to watch movies, explore the outdoors, and browse the web in my spare time. If you see me around, feel free say hello!</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/jenniferliu.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Jennifer Liu</p>
          </td>
          <td class="bio">Associate Mentor. 04:00 PM Thu. 12:00 PM Fri. jennifer1iu@berkeley.edu. Hello! I'm a 3rd year CS major from Cupertino, CA.  This will be my second semester mentoring for CS 61B, which is my favorite course at UC Berkeley and *the one* that pushed me to make the switch to computer science from MCB. Outside of class, I enjoy dogspotting, trying new restaurants in Berkeley/SF (give me recommendations!!), and taking naps.</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/jianahuang.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Jiana Huang</p>
          </td>
          <td class="bio">Associate Mentor. 03:00 PM Wed. jhuang99@berkeley.edu. Hello! I'm a 4th year Computer Science and Cognitive Science double major. You might find me taking snaps of squirrels all over campus or climbing at the bouldering gym! Come say hi whenever you see me and I hope to meet you all soon!</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/sarahzhou.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Sarah Zhou</p>
          </td>
          <td class="bio">Associate Mentor. 01:00 PM Fri. jxsz@berkeley.edu. I grew up in socal but originally hail from Beijing, China. I have two adorable shih tzus at home. My past-times: basketball and hiking. Fav artists right now: Alt-J and Marian Hill. I was a 61B mentor with CSM last semester and like to draw diagrams when I teach. I hope to share some of the insight I've gained from 61B with you. Remember: "The best things in life don't come easy."  :)</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/sebastiansong.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Sebastian Song</p>
          </td>
          <td class="bio">Associate Mentor. 01:00 PM Wed. sebsong@berkeley.edu. Hi! My name is Sebastian! I'm a 4th year CS major. I came into the major with zero programming experience. I've done many things related to CS61B (TA, lots of CSM roles, private tutoring, etc). I like to keep open communication with my students and having an open environment. Outside of school my hobbies include  cycling, basketball, climbing, finding new hobbies, and food! Feel free to contact me if you'd like to know more or if you just wanna chat! Email: sebsong@berkeley.edu</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/sruthiveeragandham.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Sruthi Veeragandham</p>
          </td>
          <td class="bio">Associate Mentor. 05:00 PM Thu. sruthiv123@berkeley.edu. Hey there! I'm a third-year Microbial Biology major and CS minor. CS 61B was the class that changed my view of computer science from "I suppose this is a necessary evil for the modern microbiologist" to "wow! This is so exciting!" When I have free time I enjoy running and reading science fiction, though nowadays you're most likely to find me napping.</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/tapanjasthi.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Tapan Jasthi</p>
          </td>
          <td class="bio">Associate Mentor. 12:00 PM Fri. 01:00 PM Fri. tjasthi@berkeley.edu. Heyo! My name is Tapan Jasthi. I'm a junior L&S Computer Science major from Minnesota. In my freetime, I like to dance and browse trash memes. 61B is my favorite class at Berkeley and I hope you come to enjoy it as well!</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/thongdinh.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Thong Dinh</p>
          </td>
          <td class="bio">Associate Mentor. 10:00 AM Wed. tdinh18@berkeley.edu. Hey there! My name's Thong (ignore the 'h' for pronunciation) and I'm a 4th year CS major from the bay area. I had no CS background coming into college but here I am today, whoo! I've been with CSM for 2 years now and I really enjoy teaching. My hobbies include sleeping 14 hours a day, staying up late gaming, and drinking boba excessively. I take in those dank memes daily, play board games pretty frequently, and have a weird love for mini golf ever since I first tried it this past winter break. Catch me at tea press for my daily dose of addiction :^)</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/umakrishnan.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
            <p class="label">Uma Krishnan</p>
          </td>
          <td class="bio">Associate Mentor. 11:00 AM Wed. umakrishnan@berkeley.edu. Hi, I'm Uma! I'm a third year studying some combo of Computer Science, Cognitive Science, and Human Rights. I love 61B and this is my second semester teaching it. Outside of class I love to dance, read, watch Netflix/Hulu, hike, and cook. I'm a also part of The Berkeley Forum. I like to think I'm fun, come talk to me!</td>
        </tr>
      </tbody>
    </table>
    </div>

</div>

</div>
