<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
td {
  vertical-align:top;

}
.bio {
  padding-left: 40px;
}
.image {
  width:200px;
  height:200px;
}
.image2 {
  width:250px;
  height:167px;
}
.image3 {
  width:200px;
  height:243px;
}
.bio2 {
  padding-left: 40px;
}

.bio-container {
  width:200px;
  height:200px;
  overflow: hidden;
  display: inline-block;
}

.bio-image {
  width: 100%
}


</style>
</head>

<div class="container">
  <div class="section">
    <div class="col l8 offset-l2 s10 offset-s1">
    	<h5 class="label">CS70 Mentor Bios</h5>
        <p class="info">Bios for CSM CS70 Mentors.</p>
    </div>
  <div>
    <table>
      <tbody ng-controller="BiosController">
        <!-- I've deliberately left out emails.--> 
        <tr ng-repeat="bio in CS70">
          <td class="bio-container">
            <img src="{{bio.imgName}}" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="bio-image">
          </td>
          <td class="bio">
            <p class="label">{{bio.name}}</p>
            <p>
            {{bio.role}} <!-- {{bio.day}}, {{bio.startTime}} - {{bio.endTime}}. !-->
            </p>
            {{bio.details}}
          </td>
        </tr>
      </tbody>
    </table>
    </div>

</div>
      
</div>
