<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
td {
  vertical-align:top;

}
.bio {
  padding-left: 40px;
}
.image {
  width:200px;
  height:200px;
}
.image2 {
  width:250px;
  height:167px;
}
.image3 {
  width:200px;
  height:243px;
}
.bio2 {
  padding-left: 40px;
}

</style>
</head>

<div class="container">
  <div class="section">
    <div class="col l8 offset-l2 s10 offset-s1">
    	<h5 class="label">CSM Exec Bios</h5>
        <p class="info">Bios for CSM Exec Members.</p>
    </div>
  <div class="divider"></div>
  <h5 class="label"> Family Heads - Anindt and Avni </h5>
  <div class="divider"></div>
  <div>
      <table>
        <tbody>
          <tr>
            <td>
              <img src="img/people/avnisinghal.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
              <p class="label"  > Avni Singhal </p>
            </td>
            <td class="bio">Senior Mentor. Monday 9:30-11am. </td>
          </tr>
          <tr>
            <td>
              <img src="img/people/anindtgo.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
               <p class="label" > Anindt Go</p>
            </td>
            <td class="bio"> Senior Mentor. Wednesday 9:30-11am. </td>
          </tr> 
          <tr>
            <td>
              <img src="img/people/alanliang.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
              <p class="label" > Alan Liang  </p>
            </td>
            <td class="bio">Junior Mentor. Tuesday 5:00-6:30pm, Wednesday 3:30-5pm. alanliang@berkeley.edu. Hi! I’m a 2nd year CS and Economics major sort of from Shanghai, China. Some things I enjoy include discovering good food, cute pics of shibes, dank memes, and CS 70; guess which one’s my favorite :’]. Looking forward to a great semester ^_^!</td>
          </tr>
          <tr>
            <td>
              <img src="img/people/hermishmehta.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">
              <p class="label" > Hermish Mehta  </p>
            </td>
            <td class="bio">Junior Mentor. Wednesday 6:30-8pm.</td>
          </tr>
          <tr>
            <td>
              <img src="img/people/aldenliu.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image"> 
              <p class="label" > Alden Liu  </p>
            </td>
            <td class="bio">Junior Mentor. Tuesday 2-3:30pm.</td>
          </tr>
          <tr>
            <td>
              <img src="img/people/renelee.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image2">  
              <p class="label" > Rene Lee </p>
            </td>
            <td class="bio">Junior Mentor. Wednesday 5-6:30pm. renelee@berkeley.edu. Hi :) I'm Rene and this is my first time mentoring for CS70. I enjoy getting food with friends, watching movies, hiking, rock climbing, and doing arts and crafts! I'm also involved in the Taiwanese American Student Association on campus. </td>
          </tr>
          <tr>
            <td>
              <img src="img/people/maxovsiankin.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">  
              <p class="label" > Max Ovsiankin </p>
            </td>
            <td class="bio">Junior Mentor. Tuesday 3:30-5:00pm, Wednesday 2-3:30pm. maxov@berkeley.edu. Hello, I'm excited to meet you all! I study Math and Computer Science, and I was a reader for CS 70 and now 170. I really love talking about math and theoretical CS, so teaching 70 is a dream for me. In my free time, I hike and take walks, play piano, read, and drink large amounts of tea. I try to listen to any and all music (I'd love recommendations!), but I'm currently hooked on Flying Lotus, Big K.R.I.T, Lana Del Rey, and Floating Points.</td>
          </tr>
          <tr>
            <td colspan="2">
            <div class="divider"></div>
            <h5 class="label"> Family Heads - Seiji and Nipun </h5>
            <div class="divider"></div>
            </td>
          </tr>
          <tr>
            <td>
              <img src="img/people/seijisakiyama.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">  
              <p class="label" > Seiji Sakiyama </p>
            </td>
            <td class="bio">Senior Mentor. Monday 12:30-2pm. seiji@berkeley.edu. I am a second-year CS major. Follow soundcloud.com/seisaki319 for the come-up after I graduate.</td>
          </tr>
          <tr>
          <tr>
            <td>
              <img src="img/people/nipunramakrishnan.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image3">  
              <p class="label" > Nipun Ramakrishnan</p>
            </td>
            <td class="bio">Senior Mentor. Monday 5-6:30pm. nipun.ramk@berkeley.edu. Hey everyone, I'm a junior here and this is my fifth semester teaching. I've taught 61A in the past as well as CS188. I really enjoyed CS70 when I took the class and my goal as a mentor is to make the class as good of an experience as possible for you. I'm also involved in AI research here at Berkeley so come talk to me if you're interested in that. In my free time, I enjoy reading, writing, playing chess, attempting to make food (I wouldn't call it cooking), playing guitar, and playing basketball. I've always been into classical music and soundtracks, mainly because I used to play trombone in a symphony orchestra pretty regularly. </td>
          </tr> 
          <tr>
            <td>
              <img src="img/people/neillugovoy.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image2">  
              <p class="label" > Neil Lugovoy </p>
            </td>
            <td class="bio">Junior Mentor. Monday 11-12:30pm. nflugovoy@berkeley.edu. Hi! I'm a sophomore from the Bay Area. On Fridays you can catch me on the Glade throwing a frisbee and playing Spikeball. I like to talk about music, movies, or whatever so come by and say hi back. </td>
          </tr>
          <tr>
            <td>
              <img src="img/people/kireetvenkata.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">  
              <p class="label" > Kireet Venkata </p>
            </td>
            <td class="bio">  Junior Mentor. Wednesday 2:00-3:30pm. </td>
          </tr>
          <tr>
            <td>
              <img src="img/people/juliapeng.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">  
              <p class="label" > Julia Peng </p>
            </td>
            <td class="bio"> Junior Mentor. Monday 12:30-2:00pm. julia_peng@berkeley.edu. Hi! I'm a second year CS major from Fremont. I like baking, eating ice cream, petting cats, and playing music. I spend a lot of my free time watching various food and dessert videos on youtube. I'm looking forward to a great semester and getting to know everyone! </td>
          </tr>
          <tr>
            <td>
              <img src="img/people/yutonghan.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">  
              <p class="label" > Yutong Han </p>
            </td>
            <td class="bio"> Junior Mentor. Wednesday 12:30-2:00pm. yutong.han@berkeley.edu. I am a sophomore student at Berkeley and I major in CS. I took CS 70 last fall semester. I love food and my favorite place is Almare! Usually my Sundays are bound with hot pots so I like Sundays (of course). </td>
          </tr>
          <tr>
            <td>
              <img src="img/people/michaelwhitmeyer.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">  
              <p class="label" > Michael Whitmeyer </p>
            </td>
            <td class="bio"> Junior Mentor. Wednesday 3:30-5:00pm. </td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="divider"></div>
              <h5 class="label"> Family Heads - Raymond and Hrishi </h5>
              <div class="divider"></div>
            </td>
          </tr>
          <tr>
            <td>
              <img src="img/people/raymondchong.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">  
              <p class="label" > Raymond Chong</p>
            </td>
            <td class="bio"> Senior Mentor. Monday 9:30-11am. raymondchong@berkeley.edu. >_< </td>
          </tr>
          <tr>
            <td>
              <img src="img/people/hrishidharam.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">  
              <p class="label" > Hrishi Dharam</p>
            </td>
            <td class="bio"> Senior Mentor. Tuesday 2:00-3:30pm. hdharam@berkeley.edu. Hi! I'm a 3rd year CS major from Edison, NJ. I like lots of stuff including teaching, bouldering, food, and board games. I think the material in this class is truly beautiful and I'm excited to explore it with you guys!</td>
          </tr>
          <tr>
            <td>
              <img src="img/people/adityakotak.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">  
              <p class="label" > Aditya Kotak </p>
            </td>
            <td class="bio"> Junior Mentor. Monday 2:00-3:30pm. adikotak@berkeley.edu. Hi everyone! I'm Aditya and I'm a 2nd year studying Computer Science. My interests are pretty multifaceted since I enjoy learning about CS theory, the applications of Data Science, Economics, and Statistics (mostly probability). I took CS70 last year with Professor Rao and was also in CSM last semester as a student so I'm ready to use what I learned last year to pass it on to you all! Professionally, I've been a Machine Learning intern at the SF-based startup UnifyID last summer and will be on the Infrastructure Engineering team at Salesforce this coming summer. Outside of school, I love listening to Drake, taking landscape photographs, reading about streetwear, or eating a sandwich from Ike's. I'm also part of Berkeley Business Society, Cal Hacks, and Data Science Society on campus. I'm looking forward to having you all in my section and helping you get through CS70!   </td>
          </tr>
          <tr>
            <td>
              <img src="img/people/kristenkafkalof.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image">  
              <p class="label" > Kristen Kafkalof </p>
            </td>
            <td class="bio"> Junior Mentor. Tuesday 2:00-3:30pm. </td>
          </tr>
          <tr>
            <td>
              <img src="img/people/danielzheng.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image"> 
              <p class="label" > Daniel Zheng </p>
            </td>
            <td class="bio"> Junior Mentor. Wednesday 12:30-2:00pm. dkzheng@berkeley.edu. Hi! I'm a junior majoring in computer science. I enjoy listening to music, skiing, and trying to cook. When I'm not burning my food, I like getting those super burritos from Tacos Sinaloa. Looking forward to meeting you this semester!</td>
          </tr>
          <tr>
            <td>
              <img src="img/people/jamiegu.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image"> 
              <p class="label" > Jamie Gu </p>
            </td>
            <td class="bio">Junior Mentor. Tuesday 3:30-5:00pm. jamiegu97@berkeley.edu. Hi everyone, I'm a sophomore majoring in Applied Math and Computer Science. I grew up in Shanghai, China and moved to Irvine in SoCal for high school. I like watching basketball games and Chinese entertainment shows in my free time. This is my first time being a mentor at Berkeley, but I have participated in all kinds of math competitions and I have been an instructor for Math Olympiad classes outside, so I'm pretty experienced in teaching the concepts in CS70, and I look forward to meeting you all.</td>
          </tr>
          <tr>
            <td>
              <img src="img/people/jihanyin.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image"> 
              <p class="label" > Jihan Yin </p>
            </td>
            <td class="bio"> Junior Mentor. Wednesday 12:30-2:00pm. jihan_yin@berkeley.edu. Hi! I'm a second year EECS major from the faraway land of Fremont. I background in competitive programming(USACO, ICPC), but am currently focused on machine learning. In my free time, I watch/play League of Legends, hit the gym, eat food, binge TV shows/anime(currently Runaways and My Hero Academia), and play the piano. Come talk to me about the LCS or whatever project you're currently working on! </td>
          </tr>
          <tr>
            <td>
              <img src="img/people/vaikunthbalaji.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image"> 
              <p class="label" > Vaikunth Balaji </p>
            </td>
            <td class="bio"> Junior Mentor. Monday 11:00-12:30pm</td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="divider"></div>
              <h5 class="label"> Family Heads - Ming and Yining </h5>
              <div class="divider"></div>
            </td>
          </tr>
         <tr>
            <td>
              <img src="img/people/mingli.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image"> 
              <p class="label" > Ming Li</p>
            </td>
            <td class="bio"> Senior Mentor. Monday 11-12:30pm. </td>
          </tr>
          <tr>
            <td>
              <img src="img/people/yining-liu.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image2"> 
              <p class="label" > Yining Liu </p>
            </td>
            <td class="bio"> Senior Mentor. lyining@berkeley.edu. Hi! I’m a second year studying CS and Applied Math. Apart from math, I’m also obsessed with earrings and making pancakes. Come talk to me about anything! </td>
          </tr>
          <tr>
            <td>
              <img src="img/people/angelakwon.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image2"> 
              <p class="label" > Angela Kwon </p>
            </td>
            <td class="bio"> Junior Mentor. Wednesday 2:00-3:30pm. kwonangela7@berkeley.edu. Hiya! I'm Angela, and I'm super excited to be a mentor this semester! When I'm not doing school related things, I'm helping train mentors for a robotics competition in PiE, spending time with my fellowship, eating out, or trying make sense of research. I had a wonderful two semesters TAing for 61A (any Fall 2017/Summer 2017 students out there???), and am looking forward to all the learning I'll be doing alongside all of you for 70! I also love listening to different kinds of music (introduce me to something!) and reading new books (hmu for a recommendation). See ya! </td>
          </tr>
          <tr>
            <td>
              <img src="img/people/amaysaxena.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image"> 
              <p class="label" > Amay Saxena </p>
            </td>
            <td class="bio">Junior Mentor. Wednesday 5:00-6:30pm. </td>
          </tr>
          <tr>
            <td>
              <img src="img/people/martinkim.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image2"> 
              <p class="label" > Martin Kim </p>
            </td>
            <td class="bio"> Junior Mentor. Monday 3:30-5:00pm. minty0829@berkeley.edu. I like to play bass guitar, and is currently in a rock band (RaOn of Berkeley). My favorite club experience was SOES(Science in Oakland), where we went to teach science experiments to elementary school kids. Kids were so honest and saw the beauty of learning. My experience with teaching is that I've mentored for 61A last semester in CSM. Thanks! </td>
          </tr>
          <tr>
            <td>
              <img src="img/people/justinyokota.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image3"> 
              <p class="label" > Justin Yokota </p>
            </td>
            <td class="bio"> Junior Mentor. Tuesday 6:30-8:00pm. jyokota@berkeley.edu. Hi, I'm Justin, a first-year Math/Computer Science major. I've been teaching in some form for the past five years, and it is this experience that I will be using as a tutor. I enjoy a variety of competitive card/board games, and have created a few games during my spare time.</td>
          </tr>
          <tr>
            <td>
              <img src="img/people/raymondfeng.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image"> 
              <p class="label" > Raymond Feng </p>
            </td>
            <td class="bio"> Junior Mentor. Monday 3:30-5:00pm. raymondhfeng@berkeley.edu. Background: Sophomore studying Computer Science. Extensive experience tutoring my younger sister in math, physics, and of course, computer science. Hobbies: Basketball. Favorite Artist(s): Mura Masa, Lumineers. How I Spend my Sundays: Drinking coffee, watching The Wire. Favorite Restaurant in Berkeley: Katsumi </td>
          </tr>
      <tr>
        <td colspan="2">
          <div class="divider"></div>
            <h5 class="label"> Family Heads - Ryan and Nick </h5>
            <div class="divider"></div>
        </td>
      </tr>
        <tr>
          <td>
            <img src="img/people/ryandeng.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image"> 
            <p class="label" > Ryan Deng </p>
          </td>
          <td class="bio">Senior Mentor. Wednesday 9:30-11:00am.</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/nicktitterton.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image"> 
            <p class="label" > Nick Titterton </p>
          </td>
          <td class="bio"> Senior Mentor. Monday 6:30-8:00pm. </td>
        </tr>
        <tr>
          <td>
            <img src="img/people/taehyungkim.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image"> 
            <p class="label" > Tae Hyung Kim </p>
          </td>
          <td class="bio"> Junior Mentor. Monday 12:30-2pm. thkim1011@berkeley.edu. Hello! I'm Tae Hyung and my interests currently lie in mathematics and computer science though I can't say which I like more since I'm constantly wavering between them. In addition to these, I enjoy playing table tennis, piano, and tetris. </td>
        </tr>
        <tr>
          <td>
            <img src="img/people/andrewlee.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image"> 
            <p class="label" > Andrew Lee </p>
          </td>
          <td class="bio"> Junior Mentor. Monday 9:30-11am. andrew_lee@berkeley.edu. Hey everyone! I'm a 2nd-year CS major from Boston, MA- talk to me about cold winters, colonial American history, and the unquestionable dominance of the New England Patriots! Outside of school-related stuff, I love playing ultimate frisbee, cooking (hmu with cool recipes), following the NFL, and playing all kinds of boardgames (Avalon, Secret Hitler, Codenames...) Wishing you the best of luck in CS 70! It's a challenging class (certainly was for me), but I'm hoping we can work together to make it a fulfilling experience for everyone!</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/nathanielmahowald.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image"> 
            <p class="label" > Nathaniel Mahowald </p>
          </td>
          <td class="bio"> Junior Mentor. Tuesday 5:00-6:30pm. nathanielmhld@berkeley.edu. I am a Physics | Political Science double major and CS minor. I live in the coops, I love to run and play the guitar. I am teaching a literature decal this semester in the English dept.</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/verawang.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image"> 
            <p class="label" > Vera Wang </p>
          </td>
          <td class="bio"> Junior Mentor. Tuesday 11:00-12:30pm. veraw@berkeley.edu. Hi everyone, I'm a sophomore majoring in computer science. I love video games and I'm interested in web development. I used to drink boba all the time, but have honestly been trying to stop recently... I haven't been too successful with that though. </td>
        </tr>
        <tr>
          <td>
            <img src="img/people/christinabaek.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image"> 
            <p class="label" > Christina Baek </p>
          </td>
          <td class="bio"> Junior Mentor. Wednesday 11:00-12:30pm. ke.baek@berkeley.edu. Hello, I am a second year EECS + BioE student from San Diego. Come to my session for a "CS70 for Dummies." Things I enjoy other than sleeping and eating are watching films and listening to a lot of old music. Also, I can talk to squirrels.  </td>
        </tr>
        <tr>
          <td>
            <img src="img/people/danielzhu.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image"> 
            <p class="label" > Daniel Zhu </p>
          </td>
          <td class="bio"> Junior Mentor. Wednesday 11:00-12:30pm. daniel.zhu@berkeley.edu. Hi! I'm Dan and I'm a second year CS student from New Jersey. CS 70 was my favorite class so far, and I hope it'll be yours too! Outside of class, I enjoy playing League of Legends and Hearthstone, browsing reddit and enjoying the outdoors.  Feel free to talk to me about CS or anything else that interests you!</td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="divider"></div>
            <h5 class="label"> Family Heads - Suraj </h5>
            <div class="divider"></div>
          </td>
        </tr>

        </tbody>
       <tr>
          <td>
            <img src="img/people/surajrampure.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image"> 
            <p class="label" > Suraj Rampure </p>
          </td>
          <td class="bio"> Senior Mentor. Monday 6:30-8:00pm. suraj.rampure@berkeley.edu. Hey! I'm a sophomore EECS major from southwestern Ontario, Canada. This is my third semester teaching 70 for CSM; I've also TA'd Data 8 in the past and am currently TA'ing CS 61A. In my spare time, I like bumping Drake and Future, repeating DJ Khaled quotes, rooting for Lebron and eating Urban Turbann religiously. </td>
        </tr>
        <tr>
          <td>
            <img src="img/people/tianqin.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image2"> 
            <p class="label" > Tian Qin </p>
          </td>
          <td class="bio"> Junior Mentor. Tuesday 6:30-8:00pm. tianqin@berkeley.edu. I'm a second-year EECS major. I enjoy software engineering and algorithms that involve brain-teasing math. On the club side, I am mostly involved in Blockchain at Berkeley as a developer because I trust that blockchain has the potential to transform financial platforms. During my free time, I love watching and playing basketball, biking, hiking, watching sci-fi and comedy movies and TV shows, and reading (which never happens). I also like to cook by mixing random ingredients and seasonings together and fortunately they often turn out pretty okay. One of my goals is to learn one more language and travel to the places that speak it. I look forward to knowing about you! </td>
        </tr>
        <tr>
          <td>
            <img src="img/people/katiekang.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image"> 
            <p class="label" > Katie Kang </p>
          </td>
          <td class="bio"> Junior Mentor. Tuesday 9:30-11am. </td>
        </tr>
        <tr>
          <td>
            <img src="img/people/jackwang.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image"> 
            <p class="label" > Jack Wang </p>
          </td>
          <td class="bio">  Junior Mentor. Wednesday 3:30-5:00pm.</td>
        </tr>
        <tr>
          <td>
            <img src="img/people/asliaklain.jpg" onerror="if (this.src != 'img/people/placeholder.jpg') this.src = 'img/people/placeholder.jpg';" style="margin-top:8px" class="image"> 
            <p class="label" > Asli Akalin </p>
          </td>
          <td class="bio">Junior Mentor. Tuesday 6:30-8:00pm.</td>
        </tr>
      </tbody>
    </table>
    </div>

</div>
      
</div>
