<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
td {
  vertical-align:top;

}
.bio {
  padding-left: 40px;
}
.image {
  width:250px;
  height:167px;
}

.image2 {
  width:200px;
  height:200px;
}
.image3 {
  width:200px;
  height:243px;
}

</style>
</head>

<div class="container">
  <div class="section">
    <div class="col l8 offset-l2 s10 offset-s1">
    	<h5 class="label">CSM Exec Bios</h5>
        <p class="info">Bios for CSM Exec Members.</p>
    </div>
  </div>
      <table>
        <tbody>
          <tr>
            <td>
              <img src="img/people/kevin-lin-sp18.jpg" style="margin-top:8px" class="image">
              <p class="label" > Kevin Lin </p>
            </td>
            <td class="bio">President. I like teaching!</td>
          </tr>
          <tr>
            <td>
              <img src="img/people/jerry-huang.jpg" style="margin-top:8px" class="image">
              <p class="label" > Jerry Huang</p>
            </td>
            <td class="bio">External Vice President. </td>
          </tr> 
          <tr>
            <td>
              <img src="img/people/jason-goodman.jpg" style="margin-top:8px" class="image">
              <p class="label" > Jason Goodman </p>
            </td>
            <td class="bio">Internal Vice President. Hi! I began my journey in CSM as a freshman student in CS 61A, an experience that I found extremely helpful and an essential part of my success in the course. The following semester, I became a junior mentor while still taking CSM courses as a student, and it was then that CSM became not only a place that I went to for academic support, but also my community. I am now in my fifth semester of mentoring for CSM, and I have previously been a senior mentor and course coordinator. I am excited to help CSM continue to grow this semester and look forward to helping both mentors and students find their CS journeys at Cal. Please feel free to contact me with any suggestions/questions, thoughts about life, or grumblings about the state of Cal Athletics. Oh, and go Bears!</td>
          </tr>
          <tr>
            <td>
              <img src="img/people/joy2.jpg" style="margin-top:8px" class="image3">
              <p class="label" > Joy Tang </p>
            </td>
            <td class="bio">Communications Chair. Hi my name is Joy, and I'm a 3rd year computer science major. This is my 3rd semester mentoring for 61B, and I can't wait to meet you! I'm obsessed with dance, cybersecurity, standup, and food, so come talk to me if you think I'm interesting or cool :) or just come talk to me :) I promise I'm fun</td>
          </tr>
          <tr>
            <td>
              <img src="img/people/james2.jpg" style="margin-top:8px" class="image2">
              <p class="label" > James Jiang </p>
            </td>
            <td class="bio"> Technology Chair. TL;DR I like to read novels and play sports. I study Computer Science and Theater with an acting focus. In my free time, I play soccer and work out at the gym, ice skate, read new novels/plays, and write. On campus, I'm involved with a product design research project on called theDesignExchange, and I'm on the Cal Figure Skating team. I have played competitive chess in the past and really wish I still have time for it. I am passionate about writing and design. I joined CSM at first to see how it is like to teach but I ended up loving how nice and enthusiastic our mentors are! Now I handle the CSM applications. Come talk to me about web development, design, books, sports, board games or life in general!</td>
          </tr>
          <tr>
            <td>
              <img src="img/people/paul-bitutsky.jpg" style="margin-top:8px" class="image">
              <p class="label" > Paul Bitutsky </p>
            </td>
            <td class="bio">Social Chair. I’m a web developer, programmer, and an undergraduate student at the University of California, Berkeley, where I am studying Computer Science and Business Administration. My passion for technology was initially sparked by my parents, both IT professionals. I pursued my interest from a young age by building websites and creating mobile apps. My dream is to use technology to improve the world and help people lead more productive lives.</td>
          </tr>
          <tr>
            <td>
              <img src="img/people/jennie-chen.jpg" style="margin-top:8px" class="image">
              <p class="label" > Jennie Chen </p>
            </td>
            <td class="bio">CS61A Coordinator. Hi! I'm a third year studying CS and Statistics from San Jose. This is my fourth semester with CSM, and I'm also currently TA'ing 61A for the third time. In my spare time, I like doing puzzles, listening to music, and finding pictures of animals, especially dogs. Let me know if you ever need some cute pictures to cheer you up!</td>
          </tr>
          <tr>
            <td>
              <img src="img/people/chris-allsman.jpg" style="margin-top:8px" class="image">
              <p class="label" > Chris Allsman </p>
            </td>
            <td class="bio"> CS61A Coordinator. Hi there! I'm a 3rd year Computer Science major from Fresno, California. I've been teaching 61A for 4 semesters now, and have been involved with CSM for just as long. Outside of teaching, my interests include cooking, video editing, and 20th century avant-garde music.</td>
          </tr>
          <tr>
            <td>
              <img src="img/people/mudit.png" style="margin-top:8px">
              <p class="label" > Mudit Gupta </p>
            </td>
            <td class="bio"> CS61B Coordinator. Hello! I'm a 3rd year EECS undergrad and I'm interested in algorithms application-y / software engineering-y things. I intend to take pretty much all the undergraduate courses in these areas, and some grad courses too. I have a particular kind of notebook I like and I bring a suitcase filled with them from Dubai every year or so... heh.</td>
          </tr>
          <tr>
            <td>
              <img src="img/people/matthewsoh.jpg" style="margin-top:8px" class="image2">
              <p class="label" > Matthew Soh </p>
            </td>
            <td class="bio"> CS61B Coordinator. Hi! I'm a second-year EECS major from sunny Singapore. I've been a tutor for CS61A and CS61B, and I'm currently a reader for CS170. I love data structures and algorithms, especially graph algorithms (that you'll learn this semester!). I'm a big fan of musical theater (I know most of Hamilton by heart.) I spend my Sundays at church. I drink a lot of coffee that I brew with my espresso machine. On campus, I've also been in CodeBase and ML@B. I recently joined the Robotics & AI Lab @ BAIR as an undergraduate researcher. </td>
          </tr>
          <tr>
            <td>
              <img src="img/people/suraj.png" style="margin-top:8px">
              <p class="label" > Suraj Rampure </p>
            </td>
            <td class="bio">CS70 Coordinator. Hey! I'm a sophomore EECS major from southwestern Ontario, Canada. This is my third semester teaching 70 for CSM; I've also TA'd Data 8 in the past and am currently TA'ing CS 61A. In my spare time, I like bumping Drake and Future, repeating DJ Khaled quotes, rooting for Lebron and eating Urban Turbann religiously. </td>
          </tr>
          <tr>
            <td>
              <img src="img/people/yining-liu.jpg" style="margin-top:8px" class="image">
              <p class="label" > Yining Liu </p>
            </td>
            <td class="bio">CS70 Coordinator. Hi! I’m a second year studying CS and Applied Math. Apart from math, I’m also obsessed with earrings and making pancakes. Come talk to me about anything!</td>
          </tr>
          <tr>
            <td>
              <img src="img/people/aditya.jpg" style="margin-top:8px" class="image2">
              <p class="label" > Aditya Baradwaj </p>
            </td>
            <td class="bio"> EE16A Coordinator.</td>
          </tr>
          <tr>
            <td>
              <img src="img/people/varsha-ramakrishnan.jpg" style="margin-top:8px" class="image">
              <p class="label" > Varsha Ramakrishnan </p>
            </td>
            <td class="bio">EE16A Coordinator. Varsha Ramakrishnan is a sophomore EECS major and Co-Coordinator for CSM EE16A. She began to enjoy teaching when she ran a tutoring business in high school, and carried it over to college by tutoring CS61A, EE16A, EE16B, and CS188. Although she is generally likened to a robot, Varsha spends her days doing classwork and research, reading sci-fi/fantasy novels and manga, playing Nintendo games, and attempting to draw. Varsha also codes sometimes, when the occasion calls for it, and is always down to try new boba places or discuss anything, from personal thoughts to archaic fictional time travel theories. At present, Varsha would like to thank you for taking the time to get to the end of this, and wish you a good day!</td>
          </tr>
          <tr>
            <td>
              <img src="img/people/jiana-huang.jpg" style="margin-top:8px" class="image">
              <p class="label" > Jiana Huang </p>
            </td>
            <td class="bio">Advisor. Hello! I'm a 4th year Computer Science and Cognitive Science double major. You might find me taking snaps of squirrels all over campus or climbing at the bouldering gym! Come say hi whenever you see me and I hope to meet you all soon!</td>
          </tr>
          <tr>
            <td>
              <img src="img/people/fahad-kamran.jpg" style="margin-top:8px" class="image">
              <p class="label" > Fahad Kamran </p>
            </td>
            <td class="bio">Advisor. Hey everyone! My name is Fahad, and I am a senior studying mathematics, statistics, and computer science. I has taken a wide variety of courses and I am happy to answer any questions people might have about which courses to take. I have TA'd for 6 semesters, most often for Data 8. If you have any questions about TAing, Data Science, getting research, etc., feel free to hit me up! In my spare time, I like to play and watch sports, sleep, and eat.
            </td>
          </tr>
          <tr>
            <td>
              <img src="img/people/anwar-baroudi.jpg" style="margin-top:8px" class="image">
              <p class="label" > Anwar Baroudi </p>
            </td>
            <td class="bio"> Advisor. Hi I am Anwar. *sushi alert*. WHERE? I'm from Mississippi, and I am teaching 61B this semester, so I will have taught all 4 CSM classes! Also, did I mention I like sushi yet? Oh, and I refused to write my own bio so James wrote this for me.  </td>
          </tr>
          <tr>
            <td>
              <img src="img/people/piffany.jpg" style="margin-top:8px" class="image2">
              <p class="label" > Tiffany Perumpail </p>
            </td>
            <td class="bio">Advisor. Hey folks! During the spring semester of my freshman year, CSM launched its pilot semester (yes, I am old) and I junior mentored for CS61A. And I've been in love with teaching CS61A ever since! In my free time, I like skateboarding, writing short stories, and cooking vegan pies. I'm also a major fan of Tame Impala. Feel free to talk to me about anything (especially if you have questions about teaching CS)!</td>
          </tr>
        </tbody>
      </table>
</div>
      
</div>
