<div class="container">
  <div class="section">
    <div class="col l8 offset-l2 s10 offset-s1">
    	<h5 class="label">Bios</h5>
        <p class="info">Bios for exec and mentors are here.</p>
         <table>
        <thead>
      <div class="collection">
        <a href="#/exec" class="collection-item">CSM Exec</a>
        <a class="collection-item"> CS61A Mentors (Coming Soon!) </a>
        <a href="#/cs61b" class="collection-item">CS61B Mentors </a>
        <a href="#/cs70" class="collection-item">CS70 Mentors</a>
        <a href="#/ee16a" class="collection-item">EE16A Mentors</a>
      </div>
        </thead>
      </table>
	</div>
  </div>
</div>