<div class="parallax-container">
  <div class="parallax">
    <div class="cover valign-wrapper">
      <div class="text-container valign center">
        <h3 class="white-text">Computer Science Mentors</h3>
        <h5 class="white-text subtitle">Assisting, teaching, and mentoring services for introductory computer science courses.</h5>
      </div>
    </div>
    <img class="cover-img" src="img/soda_hall.jpg">
  </div>
</div>

<section class="three-column">
  <div class="container">
    <div class="row center">
      <div class="col m4">
      <h4 class="label">What is CSM</h4>
        <p>
          CSM is a student-run organization that fascilitates the fluidity of CS61A and CS61B by providing group and one-on-one tutoring sessions.
        </p>
        <a class="waves-effect waves-light blue btn" href="#/about">More about us!</a>
      </div>
      <div class="col m4">
      <h4 class="label">Who we are</h4>
        <p>
          We are a group of UC Berkeley students passionate about teaching and helping classmates succeed in computer science courses.
        </p>
        <a class="waves-effect waves-light blue btn" href="#/team">See the mentors!</a>
      </div>
      <div class="col m4">
      <h4 class="label">Get Involved</h4>
        <p>
          Are you interested in gaining experience teaching and mentoring computer science students? Are you a student searching for additional tutoring for CS61A or CS61B? Would you like to partner with us?
        </p>
        <a class="waves-effect waves-light blue btn" href="#/mentors">Apply</a>
        <a class="waves-effect waves-light blue btn" href="#/students">Join</a>
        <a class="waves-effect waves-light blue btn" href="#/partners">Partner</a>
      </div>
    </div>
  </div>
</section>

<script>
  $('.parallax').parallax();
</script>