<div class="parallax-container">
  <div class="parallax">
    <div class="cover valign-wrapper">
      <div class="text-container valign center">
        <h3 class="white-text">Computer Science Mentors</h3>
        <h5 class="white-text subtitle">Assisting, teaching, and mentoring services for introductory computer science courses.</h5>
      </div>
    </div>
    <img class="cover-img" src="img/soda_hall.jpg">
  </div>
</div>

<section class="three-column">
  <div class="container">
    <div class="row center">
      <div class="col m4">
      <h4 class="label">What is CSM</h4>
        <p>
          CSM is a student-run organization that fascilitates the fluidity of CS61A and CS61B by providing group and one-on-one tutoring sessions.
        </p>
      </div>
      <div class="col m4">
      <h4 class="label">Who we are</h4>
        <p>
          We are a group of UC Berkeley students passionate about teaching and helping classmates succeed in computer science courses.
        </p>
      </div>
      <div class="col m4">
      <h4 class="label">Get Involved</h4>
        <p>
          Are you interested in gaining experience teaching and mentoring computer science students? Are you a student searching for additional tutoring for CS61A or CS61B? Would you like to partner with us?
        </p>
      </div>
    </div>
  </div>
</section>

<section class="center blue darken-2 stats">
  <h5 class="white-text">250+ Students Serviced</h5>
  <h5 class="white-text">96 Mentors</h5>
  <h5 class="white-text">Average mentor rating: 4.5 / 5</h5>
  <h5 class="white-text">91% would come back to a CSM session</h5>
</section>

<section class="row">
  <div class="col l8 offset-l2 s10 offset-s1">
    <h5>We teach.</h5>
    <p>Each mentor is assigned a small section of 4-5 students to be tutored! If you are a student, join a section and learn more about it <a href="#/students">here</a>.</p>
  </div>
  <div class="col l8 offset-l2 s10 offset-s1">
    <h5>We mentor.</h5>
    <p>We have a tiered system of mentoring opportunities. Senior Mentors write material and provide tips to Junior Mentors on how to teach. All mentors meet up once a week to learn from each other, and meet up another time to teach a section. Our Associate Mentors are either tutors, readers, or other experienced teachers who teach a section without guidance.</p>
  </div>
  <div class="col l8 offset-l2 s10 offset-s1">
    <h5>We have fun.</h5>
    <p>We go rock climbing, watch movies, hike, study together, and more! If you’re an aspiring teacher, learn more about how to <a href="#/mentors">join</a> our supportive community.</p>
  </div>
</section>

<section class="center blue darken-2 stats">
  <h5 class="white-text">Interested in joining us?</h5>
</section>

<section class="three-column">
  <div class="container">
    <div class="row center">
      <div class="col m4 s10 offset-s1">
      <h5>Want to be a mentor?</h5>
        <a class="waves-effect waves-light blue darken-2 btn" href="#/mentors">Apply</a>
      </div>
      <div class="col m4 s10 offset-s1">
      <h5>Plan to join a section?</h5>
        <a class="waves-effect waves-light blue darken-2 btn" href="#/students">Join</a>
      </div>
      <div class="col m4 s10 offset-s1">
      <h5>Want to work with us?</h5>
        <a class="waves-effect waves-light blue darken-2 btn" href="#/partners">Partner</a>
      </div>
    </div>
  </div>
</section>

<script>
  $('.parallax').parallax();
</script>