<div class="parallax-container">
  <div class="parallax">
    <div class="cover valign-wrapper">
      <div class="text-container valign center">
        <h3 class="white-text">Join Us</h3>
      </div>
    </div>
    <img class="cover-img" src="img/old_team.jpg">
  </div>
</div>

<section class="center blue darken-2 stats">
  <h5 class="white-text">Interested in joining us?</h5>
</section>

<section class="three-column">
  <div class="container">
    <div class="row center">
      <div class="col m4">
      <h5>Want to be a mentor?</h5>
        <a class="waves-effect waves-light blue btn" href="#/mentors">Apply</a>
      </div>
      <div class="col m4">
      <h5>Plan to join a section?</h5>
        <a class="waves-effect waves-light blue btn" href="#/students">Join</a>
      </div>
      <div class="col m4">
      <h5>Want to work with us?</h5>
        <a class="waves-effect waves-light blue btn" href="#/partners">Partner</a>
      </div>
    </div>
  </div>
</section>

<script>
  $('.parallax').parallax();
</script>