<section class="center blue darken-2 stats header">
  <h5 class="white-text">For Partners</h5>
</section>

<section class="row">
  <div class="col l8 offset-l2 s10 offset-s1">
    <h5>Support</h5>
    <p>CSM is a dedicated organization to education and technology. Besides providing group tutoring, we can also work with you to host events and connect you to the rest of the Berkeley community.</p>
    <p><a href="MAILTO:csmberkeley@gmail.com">Contact us</a> for more information on what we can provide for you.</p>
  </div>
</section>
