<section class="center blue darken-2 stats header">
  <h5 class="white-text">For Partners</h5>
  <h6 class="white-text subtitle">Collaborate with us to host events for the largest CS community at UC Berkeley.</h6>
</section>

<section class="row">
  <div class="col l8 offset-l2 s10 offset-s1">
    <h5>Support</h5>
    <p>CSM is a dedicated organization to education and technology. Besides providing group tutoring, we can also work with you to host events and connect you to the rest of the Berkeley community.</p>
    <p>Throughout the year, we partner with companies to host tech talks, infosessions, and more!</p>
    <p><a href="MAILTO:csmberkeley@gmail.com">Contact us</a> for more information on what we can provide for you.</p>
  </div>
</section>

<section class="row companies">
  <div class="col m2 offset-m2 s6 offset-s3 valign">
    <img src="img/companies/google.png" class="responsive-img">
  </div>
  <div class="col m2 s6 offset-s3 valign">
    <img src="img/companies/facebook.png" class="responsive-img">
  </div>
  <div class="col m2 s6 offset-s3 valign">
    <img src="img/companies/uber.png" class="responsive-img">
  </div>
  <div class="col m2 s6 offset-s3 valign">
    <img src="img/companies/palantir.png" class="responsive-img">
  </div>
</section>
